<html>
<head><title>Django District</title></head>
<body>
    <img src="{{ url_for('video_feed') }}">
    <h1>robot_pi premier test pour le mettre en mouvement press l'image </h1>

    <div id="result"></div>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
    <script src="{{url_for('static', filename='virtualjoystick.js')}}" charset="utf-8"></script>
    <script>


</script>
    <!-- <script src="htt" charset="utf-8"></script> -->

</body>
</html>
